{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ Judul }} | Fikri Aufaa Zain</title>
</head>
<body>
    <img style="width:100%" src="{% static "blog/img/download.jpg" %}" alt="">
    <h1> Ini adalah {{ Judul }} </h1>
    <h2> Pembuatnya adalah : {{ Pembuat }} </h2>
    <ul>
        <li><a href="/" title=""> home </a></li>
        <li><a href="/blog/" title=""> blog </a></li>
        {% for link, name in nav %}
            <li>
                <a href=" {{link}} " title="">{{name}}</a>
            </li>
        {% endfor %}

    </ul>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Perspiciatis amet a voluptas placeat incidunt, 
        unde nisi consequuntur voluptate voluptatum iure atque,
         numquam reiciendis impedit autem animi excepturi? Cum, esse accusamus?
        </p>
</body>
</html>