<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Irashaimase </title>
</head>
<body>
    <h1> Selamat datang di website saya UwU </h1>
    <p> website ini dibuat dengan menggunakan django</p>
    <ul>
        <li><a href='/about' title='about'> about </a> </li>
        <li><a href="/" title=""> home </a></li>
        <li><a href="/blog/" title=""> blog </a></li>
        <li><a href="/blog/recent/" title=''> Recent Blog</a></li>
    </ul>
</body>
</html>