{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> about</title>
</head>
<body>
    <img style="width:100%" src="{% static "about/img/1192044.jpg" %}" alt="">
    <h1> Ini adalah {{ Judul }}</h1>
    <h2> Ya pembuatnya adalah {{ Pembuat }}</h2>
    <ul>
        <li><a href="/" title=""> home </a></li>
        <li><a href="/blog" title=""> blog </a></li>
        <li><a href="/about/cerita" title=""> Cerita </a></li>
    </ul>
</body>
</html>